body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Login-Container
{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.Login-Container h2
{
    margin-bottom: 20px;
}
.Login-Container input[type="text"], 
.Login-Container input[type="password"]
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.Login-Container input[type="submit"]
{
    width: 100%;
    padding: 10px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}